*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #151515;
  color: #5cd5f6; 
}
.nav-bar>span {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-bar>img {
  height: 40px;
  margin-right: 1rem;
}
.main-content {
  background-image: url("./assets/half.svg");
  background-repeat: no-repeat;
  background-position: right;
  color:white;
  background-color:#232425;
  padding: 3rem;
  height: 100vh;

}
.main-content>h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.main-content ul {
  margin-top: 1rem;
  margin-left: 3rem;
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}
.main-content ul li {
  margin-bottom: 0.7rem;

}
.main-content li::marker {
  color: #5cd5f6;
  font-size: 1.5rem;
}

