.nav-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: #5cd5f6; 
}
.nav-bar>span {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-bar>img {
  height: 40px;
  margin-right: 1rem;
}
.main-content {
  background-color: #3a3d42;
  padding: 3rem;
  height: 100vh;
}
.main-content>h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.main-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}
