*{ 
  margin: 0;
  padding: 0;

}
.main-box{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  
}

.our-section{
  height: 600px;
  width: 500px;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(123, 123, 255);
}

.content{
   height: 88%;
   width: 88%;
   background-color: rgb(245, 246, 246);
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.content section{
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 2rem;
}
h1{
  font-size: x-large;
  display: flex;
  justify-content: center;
  color: #2B283A;
}
section p{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  color: #4A4E74;
}

.container{
  display: flex;
  justify-content: center;
}

.Box-contianner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0%;
  /* margin-top: px; */

}
.butt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width: 45.4px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: #2B283A;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(218, 246, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border: none;
  outline: none;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.box:hover{
  box-shadow: 7px 7px 7px  rgb(51, 51, 51);
}

.butt button{
  background-color: #8175ce;
  height: 48px;
  width: 120px;
  border-radius: 10px;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 7px 7px 7px  rgb(77, 64, 109);
  border: none;
  outline: none;

}
.butt button:hover{
  box-shadow: 7px 7px 7px  rgb(0, 56, 99);
}